.error {
    color:red;
}

::placeholder {
    color: orange;
}

.formal {
    color: white !important;
}

.formal:focus {
    color: orange !important;
}

option {
    color: black !important;
}

label {
    color: orange !important;
}

.izberiUporabnika {
    height: 120px;
    text-align: center;
}

#styles {
    background-color: white !important;
}